/**
 * @Author: Your name
 * @Date:   2023-08-14 14:41:45
 * @Last Modified by:   Your name
 * @Last Modified time: 2023-08-14 15:00:11
 */
 *{
     margin: 0;
     padding: 0;
 }
h2{
    color: blueviolet;
}
p{
    color: brown;
}
.text{
    font-size: 20px;
    /* width: 100%; */
    height: 500px;
    background-color: chartreuse;
}