* {
    margin: 0;
    padding: 0;
}

.box {
    max-width: 1120px;
    min-width: 1120px;
    margin: auto;
    background-color: brown;

    ul {
        display: inline-block;
        width: 100%;
        background-color: blueviolet;
        vertical-align: bottom;
        position: relative;
        li {
            float: left;
            list-style: none;
            text-align: center;
            width: 25%;
            height: 36px;
            line-height: 36px;

            a {
                text-decoration: none;
                color: aliceblue;
                .last {
                    display: none;
                }
            }

            &:hover {
                a {
                    .first {
                        display: none;
                    }

                    .last {
                        display: block;
                    }
                }
            }
        }
        div{
            width: 100%;
            height: 500px;
            position: absolute;
            top: 36px;
            display: none;
            background-color: rgb(58, 42, 165);
        }
        &:hover div{
            display: block;
        }
    }
}